<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Rectangulo.css">
    <script src="../screens/LoginScreen.js"></script>
<div class="Espacio">
    <div class="ELinea">
        <div class="Linea"></div>
        <div class="Linea"></div>
    </div>
    <div class="ERectangulo">
        <div class="Rectangulo"></div>
        <div class="Rectangulo"></div>
    </div>
    <div class="Ecuadrado">
        <div class="Cuadrado"></div>
        <div class="Cuadrado"></div>
    </div>
</div>
    
    
    <title>Document</title>
</head>
<body>
    
</body>
</html>
