.ELinea{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    gap: 60px;
    flex-direction: column;    
    width: 100%;
    height: 200px;
    
}

.Espacio{
    display: flex;
    gap: 60px;
    flex-direction: column;
}

.Linea{
    width: 90%;
    height: 100px;
    background-color: black;
}

.ERectangulo{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.Rectangulo{
    width: 90%;
    height: 90px;
    background-color: grey;
    border-radius: 60px;
}

.Ecuadrado{
    display: flex;
    justify-content: center;
    gap: 300px;
    height: 30px;
    width: 100%;
    
}

.Cuadrado{
    height: 50px;
    width: 100px;
    background-color: grey;
}