body{
    margin: 1;
    color: #F5F5F5;
}
.su{
    color: #177E89;
}
h1{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: mediu;;
}
.gris{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #878787;
}
.Espacio{
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: flex-end;
    height: 90%;
    padding-top: 270px; /* Baja todo el contenido */
}
.mensaje{
    width: 160%;
    margin-top: 100%;
    margin-left: 25px; /* Aumentá el valor para moverlo más */
}
.mujer{
    position: relative;
    top: 100px; /* La desplaza 80px hacia abajo */
    width: 200px;
    height: 251px;
}
.botones{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}
.entrena{
    color: #373D45;
}
button{
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 10%;
}

.button1{
    background-color: #177E89;
    color: #FFFFFF;
}
.button2{
    background-color: #FFFFFF;
}