.imagen{
    display: flex;
    height: 150px;
    width: 150px;
    background-color: #EDECEC;
    border-radius: 100px;
    justify-content: center;
}

.body{
  background-color: #F2F1F2;
}

.Eimagen, .h1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.texto{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 475px;
}

.Guardar{
    color: #177E89;
    font-family: Arial, Helvetica, sans-serif;
}

.img{
  display: flex ;
  margin-top: 10px;
  width: 30px;
  height: 30px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 900px;
}
  
  .btn {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: -5px;
    width: 900px;
    height: 50px;
    cursor: pointer;
    background-color: white;
    font-size: 10px;
    color: grey;
    border: none;
    gap: 10px;

  }

.Texto{
  position: absolute;
  left: 45px; /* ajustá según el icono */
  top: 10px;
  font-size: 12px;
  color: black;
}
  
  .menu {
  display: none;
  padding: 10px;
  width: 880px;
}

.menu.active {
  display: block;
  background-color: white;
}
  
  input {
    padding: 8px;
    width: 870px;
    border-radius: 8px;
  }

  .Edropdown{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;
    border: none;
  }
  .EEdropdown{
   margin-top: 20px;
  }
.Texto {
  margin-top: 19px;
  color: black;
  font-size: 14px;
}
.foto{
  position: absolute;
  margin-left: 725px;
  margin-top: -30px;
}
.img3{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 770px;
  transition: transform 0.3s ease;
}

.img3.rotada{
  transform: rotate(90deg);
}

.btn .img6 {
   display: flex;
   position: absolute;
   width: 35px;
   height: 35px;
   margin-left: 855px;
}

.img6{
  transition: transform 0.3s ease;
}

.rotada{
  transform: rotate(90deg);
}

.input-container{
  position: relative;
  width: 870px;
}

.input-container input{
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.icono-input{
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.icono-vacio,
.icono-check{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.icono-check{
  display: none;
}

.icono-vacio{
  display: block;
}

.icono-check{
  display: none;
}