img{
    width: 14%;
}

h1{
   font-family: Arial, Helvetica, sans-serif;
}

.texto{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.a{
    display: flex;
    margin-left: 39px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.imag{
    display: flex;
    margin-top: 20%;
    margin-left: 10%;
    width: 80%;
}

.ing{
    display: flex;
    margin-left: 10%;
    flex-direction: row;
    gap: 8%;
}

.h2{
    display: flex;
    color: #6C6C6C;
}

button{
    display: flex;
    justify-content: center;
    font-size: 14px;
    border-radius: 290px;
    align-items: center;
    width: 340px;
    height: 48px;
    margin-left: 8%;
    background-color: #177E89;
    color: white;
    border: none;
     border: none;
    border-radius: 11px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
}

.h4{
    display: flex;
    color: #6C6C6C;
    margin-left: 9%;
}