img{
    width: 14%;
}

h1{
   font-family: Arial, Helvetica, sans-serif;
}

.texto{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.a{
    display: flex;
    margin-left: 39px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.imag{
    display: flex;
    margin-top: 20%;
    margin-left: 10%;
    width: 80%;
}

.ing{
    display: flex;
    margin-left: 10%;
    flex-direction: row;
    gap: 8%;
}

.h2{
    display: flex;
    color: #6C6C6C;
}

.h4{
    display: flex;
    color: #6C6C6C;
    margin-left: 9%;
}